<div class="main">
    <h1 style="margin-left: 15px; margin-bottom: 40px;">Kursevi</h1>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="assets/web1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Web programiranje</b></h4>
                    <p>Osposobljavanje studenata za rešavanje problema iz oblasti Veb programiranja,
                        što obuhvata poznavanje HTTP protokola, serversku i JSP tehnologiju, kao i organizaciju i
                        arhitekturu veb aplikacija.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
                
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/c_plus_plus1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Programski jezik C++</b></h4>
                    <p>Ovladavanje studenata principima, tehnikama i načinom upotrebe objektne metodologije i
                        tehnologije za izradu softvera kroz programski jezik C++.
                        Stečena znanja student treba da primeni u analizi, proučavanju i rešavanju realnih problema.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/c_11.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>.NET Web Development</b></h4>
                    <p>Ovo je intenzivni kurs namenjen onima koji žele da steknu kompetencije junior full
                        stack developer-a za razvoj web aplikacija na .NET platformi. Gradivo obuhvata razvoj serverskog
                        dela web aplikacija upotrebom
                        .NET tehnologija i klijentskog dela web aplikacija korišćenjem JavaScript jezika i pridruženih
                        tehnologija.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="assets/arv1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Front-End Development</b></h4>
                    <p>Ovo je intenzivni kurs namenjen onima koji
                        žele da steknu kompentecije junior developer-a za razvoj klijentskog dela web aplikacija
                        kroz tehnologije Vue, Angular i React.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/java1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Java Web Development</b></h4>
                    <p>Ovo je intenzivni kurs namenjen onima koji žele da steknu kompetencije junior
                        full stack developer-a za razvoj web aplikacija na Java platformi.
                        Gradivo obuhvata razvoj serverskog dela web aplikacija upotrebom Java tehnologija i
                        klijentskog dela web aplikacija korišćenjem React frameworka.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/qa1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Test Development</b></h4>
                    <p>Ovo je intenzivni kurs namenjen onima koji žele da steknu kompetencije junior developer-a
                        za testiranje web aplikacija. Gradivo obuhvata osnove testiranja, testiranje serverskog
                        dela web aplikacija upotrebom Java tehnologija i testiranje klijentskog dela web aplikacija
                        korišćenjem JavaScript jezika, kao i Cypress test radnog okvira.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="assets/db.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Baze podataka</b></h4>
                    <p>Ovo je intenzivni kurs namenjen onima koji žele da steknu
                        kompetencije junior developera za rad sa bazama podataka.
                        Na ovom kursu možete steći osnovna znanja o bazama podataka i osposobiti se za
                        korištenje naprednih mehanizama za razvoj i administraciju baza podataka.</p>
                </div>
                <button class="button" (click)="showSubjectInfo()">Opsirnije</button>
            </div>
        </div>



    </div>


</div>