<html>

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="sidenav">

        <div class="center-logo">
            <button class="btn-logo"><i class="material-icons">token</i></button>
        </div>

        <div class="center-menu">
            <button (click)="openProfile()" class="btn"><i class="material-icons">person</i>Profile</button>
            <button (click)="openCourses()" class="btn"><i class="material-icons">auto_stories</i>Courses</button>
            <button (click)="openResults()"  class="btn"><i class="material-icons">description</i>Results</button>
            <button (click)="openTerms()" class="btn"><i class="material-icons">event_note</i>Terms</button>
            <button (click)="openAddStudent()" class="btn"><i class="material-icons">person_add</i>Register Student</button>

        </div>

        <div class="center-logout">
            <button class="btn"><i class="material-icons">logout</i>Logout</button>
        </div>


    </div>

</body>

</html>